<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 配置注解扫描事务 -->
	<!-- <context:annotation-config /> <task:annotation-driven /> <context:component-scan 
		base-package="com.example.demo.task"></context:component-scan> <bean id="taskExecutor" 
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor"> 
		核心线程数 <property name="corePoolSize" value="5" /> 最大线程数 <property name="maxPoolSize" 
		value="10" /> 队列最大长度 <property name="queueCapacity" value="13" /> 线程池维护线程所允许的空闲时间，默认为60s 
		<property name="keepAliveSeconds" value="100" /> </bean> -->
	<!-- <task:scheduled-tasks> <task:scheduled ref="quartzTestBean" method="task1" 
		cron="*/5 * * * * ?" /> </task:scheduled-tasks> <bean id="quartzTestBean" 
		class="com.example.demo.task.TaskService"/> -->
</beans>